# I. Змінні та памʼять.

1. Створити змінні, що посилаються на два цілих числа, що однакові за значенням, де значення належить проміжку від -5 до 256. Перевірте, чи будуть ці змінні рівні тільки за значенням або ж ще будуть посилатися на один і той самий обʼєкт в памʼяті? Наведіть код та дайте текстову відповідь нижче.

In [ ]:
a = 5
b = 5

print(a == b)
print(a is b)

True
True

*місце для текстової відповіді

У Пайтоні числа від -5 до 256 кешуються. Саме тому, ці змінні як рівні за значенням, так і вказують на 1 обʼєкт у памʼяті.

# II. Цілі числа та числа з рухомою комою

3. Створити дві змінні, що посилаються на будь-які ціле число та число з рухомою комою та продемонструвати такі арифметичні операції: додавання, віднімання, ділення, множення, ділення без залишку, ділення по модулю, приведення до ступеню. Всі результати операцій вивести на екран.

In [ ]:
a = 10
b = 5.75


sum = a + b
subtr = a - b
div = a / b
mult = a * b
div_not = a // b
modulo = a % b
power = a ** b


print("Додавання:", sum)
print("Віднімання:", subtr)
print("Ділення:", div)
print("Множення:", mult)
print("Ділення без залишку:", div_not)
print("Ділення по модулю:", modulo)
print("Зведення у ступінь:", power)

Додавання: 15.75
Віднімання: 4.25
Ділення: 1.7391304347826086
Множення: 57.5
Ділення без залишку: 1.0
Ділення по модулю: 4.25
Зведення у ступінь: 562341.3251903491

4. Використовуючи змінні з вправи 3, продемонструйте механізм явного перетворення типів, де числа з рухомою комою перетворюються на цілі числа. Також визначте змінну, що посилається на значення булевого типу і спробуйте явно привести її до цілого числа.

In [ ]:
transform = int(b)


bool_val = True
transform_bool = int(bool_val)

print("Після перетворення float в int:", transform)
print("Після перетворення bool в int:", transform_bool)

Після перетворення float в int: 5
Після перетворення bool в int: 1

# IІІ. Рядки (String).

5. Створити пустий рядок двома різними способами.

In [ ]:
str1 = ' '
str2 = str()

6. Створити рядок з апострофом. Зробити його сирим. Вивести обидва рядка на екран.

In [ ]:

string_with_apostrophe = "I'm learning Python!"

raw_string = r"I'm learning Python!"


print("Звичайний рядок:", string_with_apostrophe)
print("Сирий рядок:", raw_string)

Звичайний рядок: I'm learning Python!
Сирий рядок: I'm learning Python!

7. Створити змінну, що буде посилатися на Ваше прізвище латинкою. Створити форматований рядок, який буде мати вигляд "My surname is ______", де на місці нижніх підкреслень буде Ваше прізвище зі змінної.

In [ ]:
surname = "Lorman"
str1 = f"My surname is {surname}"

print(str1)

My surname is Lorman

8. Маючи рядок "My dog is crazy." перетворити його на список ["my", "dog", "is", "crazy"]

In [ ]:
str1 = "My dog is crazy"
word_list = str1.lower().strip(".").split()

print(word_list)

['my', 'dog', 'is', 'crazy']

# IV. Робота зі списками.

9. Створити список двома різними за синтаксисом способами. За допомогою вбудованої функції обчисліть довжину одного з них.

In [ ]:
list1 = [1, 2, 3, 4, 5]
list2 = list((1, 2, 3, 4, 5, 6, 7, 9))

print(len(list2))

8

10. Створіть два списка та за допомогою спеціального методу додайте другий з них в якості останнього елемента першого.

In [ ]:
list1 = [1, 2, 3, 4, 5]
list2 = [6, 7, 8, 9, 10]

list1.append(list2)
print(list1)

[1, 2, 3, 4, 5, [6, 7, 8, 9, 10]]

11. Створіть список, де елементами цього списку також є списки. Отримай перший елемент з останнього рядка та виведи значення на екран.

In [ ]:
list1 = [[1, 2, 3], [2, 38, 0], [3, 4, 5]]

first_el_last = list1[-1][0]

print(first_el_last)

3

12. Створіть список з десяти елементів різного типу. Отримайте всі елементи, окрім двох перших та двох останніх та збережіть їх в новій змінній.

In [ ]:
list1 = [1, "something", 'o', 2, 4, 12.234, "hello", 4.2, 12, [23, 3, 94]]
final = list1[2:-2]

print(final)

['o', 2, 4, 12.234, 'hello', 4.2]

# V. Робота з кортежами.

14. Створити кортеж з один елементом.

In [ ]:
tuple1 = (1)

15. Порівняйте список та кортеж. Назвіть схожості та відмінності, випадки використання.

Основна відмінність: списки можна змінювати, а кортежі - ні. Тобто, порівняно з кортежем, списки мають більше методів для взаємодії з нимим, повільніше та займають більше памʼяті, адже вони мають зберігати структуру для зміни колекції. Наприклад, кортежі можна використовувати як ключі у словниках, записувати координати - загалом, де дані не повинні змінюватись. Списки ж використовуються, коли данв мають змінюватись (наприклад, записуємо бали студентів, дії користувача тощо).

рисі16. Створіть кортеж з 11ти елементів чисел з рухомою комою та отримайте кожен парний за індексом елемент в зворотньому порядку. Наприклад, маючи (1.2, 2.3, 3.3, 4.3, 5.3, 6.3, 7.3, 8.3, 9.3, 0.3), отримати (0.3, 8.3, 6.3, 4.3, 2.3). Результат збережіть в нову змінну та виведіть на екран.

In [ ]:
tuple1 = (1.2, 2.3, 3.3, 4.3, 5.3, 6.3, 7.3, 8.3, 9.3, 0.3, 67.09)
even_el = tuple1[::-1][::2]

print(even_el)

(67.09, 9.3, 7.3, 5.3, 3.3, 1.2)

# VI. Множини (Set).

17. Створити множину без елементів. Після цого за допомогою методу додайте кілька різних елементів до множини. Чи множини є змінним типом даних?

In [ ]:

set1 = set()

set1.add(10)
set1.add("hello")
set1.add(3.14)
set1.add(True)

print(set1)

{True, 10, 3.14, 'hello'}

так, змінні, адже ми можемо додавати і видаляти елементи після створення структури даних.

18. Створити множину, маючи список my_list = [1, 1, 2, 67, 67, 8, 9]. Пояснити, чому "зникли" деякі елементи.

In [28]:
my_list = [1, 1, 2, 67, 67, 8, 9]
set2 = set(my_list)

print(set2)

{1, 2, 67, 8, 9}

set не допускає дублікатів

19. Створіть дві множини. Продемонстуйте над ними операції: обʼєднання, різниці, пересічі та симетричної різниці. Використовуйте методи, що не змінюють множини, а створюють нові.

In [31]:
set1 = {"apple", "pear", "grapes", "cherry", 456}
set2 = {1, 456, 7, 8.76, 68}

union_sets = set1.union(set2)
inter_sets = set1.intersection(set2)
diff_sets = set1.difference(set2)
symm_diff_sets = set1.symmetric_difference(set2)

print("Об'єднання:", union_sets)
print("Перетин:", inter_sets)
print("Різниця set1 - set2:", diff_sets)
print("Симетрична різниця:", symm_diff_sets)

Об'єднання: {1, 68, 7, 456, 8.76, 'apple', 'cherry', 'grapes', 'pear'}
Перетин: {456}
Різниця set1 - set2: {'pear', 'grapes', 'cherry', 'apple'}
Симетрична різниця: {1, 'cherry', 68, 'grapes', 7, 'pear', 8.76, 'apple'}

# VII. Словники (Dictionary).

20. Створіть пустий словник. До нього додайте чотири пари елементів такі, щоб їхні ключі були різних типів. Чи може список бути ключем? Чому?

In [33]:
dict1 = {}
dict1["color"] = "red"
dict1[2] = "blue"
dict1[False] = "apple"

sp = [2, 5]
print(dict1)

{'color': 'red', 2: 'blue', False: 'apple'}

Ні, не може, бо Python використовує хеш-таблицю для збереження словників.
Список можна змінити після створення, а змінні об'єкти не мають фіксованого хешу, тому не можуть бути ключами.

21. Створіть словник, де значенням в одній з пар теж буде словник, який теж має вкладений словник. Виведіть на екран значення, що міститься в словнику, що знаходиться на найнижчому рівні ієрархії вкладеності (найбільш внутрішній).

In [34]:
c_dict = {
    "squid_game": {
        "characters": {
            "character_name": "Ali Abdul"
        }
    }
}


inner_value = c_dict["squid_game"]["characters"]["character_name"]


print(inner_value)

Ali Abdul

# Вітаю! Ви велика(ий) молодець, що впоралась(вся). Похваліть себе та побалуйте чимось приємним. Я Вами пишаюся.